/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    background-color: #121212;
    color: #333; /* Alterado para melhorar a legibilidade */
    text-align: center;
}

/* Cabeçalho */
header {
    padding: 20px 0;
    background-color: #000000;
    border-bottom: 2px solid #f0f0f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img.logo-uni {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    opacity: 0.9;
}

/* Mapas e Street View */
#street-view-container,
#map {
    width: 100%;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #f1ecec;
    border-radius: 8px;
    overflow: hidden;
}

/* Google Maps */
gmp-map {
    width: 150%;
    height: 800px;
    margin: 70px auto;
}

/* Infraestrutura */
.infraestrutura-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.infraestrutura-imagem img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.infraestrutura-texto {
    max-width: 600px;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

/* Destino */
.destino {
    margin-top: 15px;
    width: 250px;
    padding: 15px;
    font-size: 16px;
    background: rgb(249, 250, 251);
    border-radius: 8px;
    display: block;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#destino-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4f4fe0;
    background: #f4f4f4;
    outline: none;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

#destino-select:focus {
    background: rgb(249, 250, 253);
    font-family: 'Times New Roman', Times, serif;
}

.destino label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #street-view-container,
    #map,
    gmp-map {
        width: 100%;
        height: 500px;
    }

    .infraestrutura-container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .infraestrutura-imagem img {
        max-width: 100%;
    }

    .infraestrutura-texto {
        max-width: 100%;
        font-size: 12px;
    }

    .destino {
        width: 100%;
    }
}